[Desktop Entry]
Type=Application
Name=Phonesim
Categories=Applications;
Exec=/bin/systemctl --user start phonesim.service
Icon=icon-launcher-default

X-Desktop-File-Install-Version=0.20

